
<div class="paddingBeforeContact"> </div>
<div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-10" >
      	
      	<div class="well col-md-9">
      		<div class="col-md-1">
		      </div>
					
					<div class="col-md-10">
						<form class="form-horizontal" name="loginForm">
							<div class="form-group">
					    	<legend >Password reset  </legend>
					    </div>
							

							


							<fieldset>
									<div class="form-group" ng-if="getProfileData()!=null"><!-- info message -->
										
							    	<p class="text-info" > You are currently logged in as <strong>{{getProfileData().email}}</strong></p>
							    	
									</div>
									
									<div class="form-group" ng-if="errorMessage!=null"><!-- error message -->
										<p class="text-danger" >{{errorMessage}}</p>
									</div> <!-- error message -->
									<div class="form-group" ng-if="infoMessage!=null"><!-- info message -->
										<p class="text-info" >{{infoMessage}}</p>
									</div> <!-- info message -->

									
								  <div ng-if="getProfileData()==null && !submitResetSuccessful">

								    <div class="form-group">
											<input type="email" class="form-control" name="email" placeholder="Enter account email address"  ng-model="form.email" ng-disabled="submitResetInProgress"  required>
								    </div>


    								<button type="submit" class="btn btn-primary pull-right" ng-disabled="submitResetInProgress" ng-click="handleResetPassword()">Submit</button>

									</div>

							  </fieldset>
						

						</form>
		      </div>

					


       	</div>
      	
      </div>
    </div> <!-- row -->
</div>

      

