<div class="paddingBeforeContact"> </div>
<div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-10" >
      	
      	<div class="well col-md-9">
      		<div class="col-md-1">
		      </div>
					
					<div class="col-md-10">
						<form class="form-horizontal" name="signupForm" ng-submit="submitForm()">
							<div class="form-group">
					    	<legend >Sign up for new account</legend>
					    </div>
							

							
							<div class="alert alert-dismissable alert-success" ng-if="isShowSuccess">
								{{message}}
							</div>


							<fieldset ng-disabled="isSubmittedSuccess">

								  <alert type="danger" close="closeError()" ng-if="isShowError && !isShowSuccess">
								  {{message}}
								  </alert>



							    <div class="form-group">
										<input type="email" class="form-control" name="email" placeholder="Email address"  ng-model="formInfo.email"  required>
							    </div>

							    <div class="form-group">

    								<button type="submit" class="btn btn-primary pull-right" ng-hide="isShowSending||isSubmittedSuccess">Submit</button>
    								<div class="text-muted pull-right" ng-show="isShowSending"> Sending signup form ...</div>
    
									</div>


							  </fieldset>
						

						</form>
		      </div>

					

      		<div class="col-md-1">
		      </div>

       	</div>
      	
      </div>
      <div class="col-md-1">
      
      </div>
    </div> <!-- row -->
</div>

      
