[BackendWorker]
SendGridUser = "send_grid_username_here"
SendGridPassword =  "send_grid_password_here"

MaxDownloadTimeout = 3600 # seconds
Git2Path = "/home/cg/git2" 
GtagPath = "/home/cg/code/prefix/bin/gtags"

MaxGitCloneTimeout =  1800 #seconds, 30 minutes
MaxExtractTimeout  =  3600 #seconds, 1hour
MaxGtagTimeout = 86400 #seconds, 24 hours
